
<div id='ajax-posts'>.... ajax posts here .... </div>

<button class='ajax-new-post'>NewPost</button>

<h1> RAILS VIEW</h1>
<br>

<div id='posts-index'>
	<% @posts.each do |post| %>
	<h3>
		<%= link_to post.title, post_path(post) %>
	</h3>
	<p>
		<%= post.content %>
	</p>
	<% end %>
</div>