<h1>All posts</h1>

<button id='new_post'>NewPost</button>

<div id='new_post_form'>form shows up here....</div>

<% @posts.each do |post| %>
	<h3><%= link_to post.title, post_path(post) %></h3>
	<p><%= post.content%></p>
<% end %>